* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  
}
header {
  width: 100%;
  height: 102px;
  font-size: 1rem;
  color: #e0e0e0;
  padding: 6px;
  display: flex;
  background-color: #333;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
main {
  padding: 32px;
}

#search-container {
  display: flex;
  margin-bottom: 32px;
}
.search-group {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  gap: 8px;
}
input[type="text"], select, input[type="number"] {
  padding: 8px;
  font-size: .75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}
.card {
  /* width : 300px; */
  background-color: #fff;
  padding: 16px;
}
.card img {
  width: 200px;
  height: 105px;
  /* object-fit: cover; */
  /* display: block; */
}

#country-cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}
